/* h1{
    background-color: skyblue;
}

p{
    background-color: green;
    font-size: large;
} */

.box1{
    height: 300px;
    width: 200px;
    background-color: yellowgreen;
    margin: 10px;
    display: inline-block;
    text-align: center;
    padding: 50px;
} 
.box2{
    height: 300px;
    width: 200px;
    background-color: red;
    margin: 10px;
    display: inline-block;
    text-align: center;
    padding: 50px;
}
.box3{
    height: 300px;
    width: 200px;
    background-color: mediumaquamarine;
    margin: 10px;
    display: inline-block;
    text-align: center;
    padding: 50px;
}